<div class="signin-container-parent d-flex justify-content-center align-items-center">
    <div class="Craft-container">
        <span>Welcome to</span>
        <h2>Craf<span style="color: #004fec;">t</span></h2>
    </div>
    <form [formGroup]="signinForm"
        class="signin-container d-flex flex-column justify-content-between align-items-center">
        <div class="form-container d-flex flex-column p-2 gap-2">
            <div class="userName-container m-0 row d-flex flex-column gap-2">
                <label class="col-lg-12 p-0">Email</label>
                <input class="col-lg-12 p-2" type="type" placeholder="Enter your Username" formControlName="userName" />
                <div *ngIf="signinForm.get('userName')?.invalid && signinForm.get('userName')?.touched"
                    class="error p-0 d-flex">
                    <small>Username is required*</small>
                </div>
            </div>
            <div class="password-container m-0 row d-flex flex-column gap-2">
                <label class="col-lg-12 p-0">Password</label>
                <div class="col-lg-12 p-0 pass-container">
                    <span (click)="togglePasswordVisibility()" class="d-flex eye-icon">
                        <img *ngIf="!passwordVisible" src="assets/eye-icon.svg" />
                        <img *ngIf="passwordVisible" src="assets/eye-close-icon.svg" />
                    </span>
                    <input class="pass-input p-2" [type]="passwordVisible?'text':'password'"
                        placeholder="Enter your password" formControlName="password" />
                    <div *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched"
                        class="error p-0 d-flex">
                        <small>Password must be atleas 8 characters long</small>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <span class="forgot-pass">Forgot password?</span>
            </div>
            <div class=".or-divider d-flex align-items-center">
                <hr class="or-line">
                <span class="or-text">OR</span>
                <hr class="or-line">
            </div>
            <div class="google-signin-container p-2 d-flex justify-content-center gap-2 align-items-center">
                <img src="assets/google-icon.svg" />
                <span>Continue with Google</span>
            </div>
            <div class="github-signin-container p-2 d-flex justify-content-center gap-2 align-items-center">
                <img src="assets/github-icon.svg" />
                <span>Continue with GitHub</span>
            </div>
        </div>
        <div class="btns-container d-flex flex-column gap-0">
            <hr />
            <div class="btn-inner d-flex align-items-center justify-content-between p-2">
                <span>Don't have an account? <span (click)="onSignup()" class="signup-btn">Signup</span></span>
                <button class="signin-btn" style="border-radius: 4px;" type="submit"
                    (click)="onSignin()">Signin</button>
            </div>
        </div>
    </form>
</div>