# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/Craft-Portal-Angular/v17/DocumentLayout.json
.vs/Craft-Portal-Angular/v17/.wsuo
.vs/Craft-Portal-Angular/FileContentIndex/b2e77c90-035d-4af6-8fd3-411cce061ac6.vsidx
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Craft-Portal-Angular/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/Craft-Portal-Angular/CopilotIndices/17.13.444.19527/SemanticSymbols.db
