.sidebar {
    width: 250px;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0;
    overflow: auto;
    border-right: 1px solid var(--primary-border);
    background-color: var(--primary-background);
    color: var(--primary-text);
    transition: left 0.3s ease-in-out;

    &.collapsed {
        left: -250px;
    }
}

.sidebar li {
    &.active {
        color: var(--primary-list-active-text);
        background-color: var(--primary-active-list-bg);

        &:hover {
            background-color: var(--primary-active-list-bg);
        }
    }
}

.sidebar ul {
    list-style-type: none;
    padding: 10px 10px;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-list-hover-bg);
    }
}

.dashboard-icon-container {
    background-image: var(--primary-dashboard-icon);
    background-size: contain;
    width: 18px;
    height: 18px;
}

.projects-icon-container {
    background-image: var(--primary-project-icon);
    background-size: contain;
    width: 18px;
    height: 18px;
}

.settings-icon-container {
    background-image: var(--primary-settings-icon);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.signout-icon-container {
    background-image: var(--primary-signout-icon);
    background-size: contain;
    width: 18px;
    height: 18px;
}

.menu-list {
    display: flex;
    gap: 4px;
}