<div class="topbar d-flex justify-content-between align-items-center">
    <div class="topbar-left-actions d-flex justify-content-start align-items-center gap-2">
        <div class="collapse-container" (click)="onCollapseSidebar()">
            <img
                [src]="!isCollapsed ? (isDarkThemeEnabled  ? 'assets/TopBar/sidebar-left-light.svg' : 'assets/TopBar/sidebar-left-dark.svg')
                :(isDarkThemeEnabled ? 'assets/TopBar/sidebar-right-light.svg' : 'assets/TopBar/sidebar-right-dark.svg')" />
        </div>
        <div class="topbar-logo" (click)="onLogoClick()">
            Craft
        </div>
    </div>
    <div class="topbar-center-actions d-flex justify-content-between align-items-center">
        <div class="search-container">
            <div class="search-icon"></div>
            <input class="search-input" type="text" placeholder="Search (ctrl + /)" />
        </div>
        <div (click)="openCreateProjectModal()"
            class="create-container d-flex justify-content-center align-items-center">
            <span>
                + Create
            </span>
        </div>
    </div>
    <div class="topbar-right-actions">
        <div class="profile-container">

        </div>
    </div>
    <app-create-project-modal class="create-project-modal" *ngIf="createProjectModalActive"
        [(createProjectActive)]="createProjectModalActive"></app-create-project-modal>

    <div class="search-container-main">

    </div>
</div>