<div class="topbar d-flex justify-content-between align-items-center">
    <div class="topbar-left-actions d-flex justify-content-between align-items-center">
        <img src="assets/sidebar-collapse.svg" />
        <div class="topbar-logo">
            Craft
        </div>
    </div>
    <div class="topbar-center-actions d-flex justify-content-between align-items-center">
        <div class="search-container">
            <input type="text" placeholder="Search" />
        </div>
        <div class="create-container d-flex justify-content-center align-items-center">
            <span>
                + Create
            </span>
        </div>
    </div>
    <div class="topbar-right-actions">
        <div class="profile-container">

        </div>
    </div>

</div>