<div class="forgot-password-parent d-flex justify-content-center align-items-center">
    <div class="forgot-password-container">
        <form [formGroup]="emailFormGroup" class="email-form-container d-flex flex-column p-2 gap-2">
            <img src="assets/email-logo.svg" alt="Email Icon" class="email-icon">
            <div class="email-container d-flex flex-column gap-2">
                <label>Email</label>
                <input class="p-2" type="email" placeholder="Enter your email address" formControlName="email" />
                <div *ngIf="emailFormGroup.get('email')?.invalid && emailFormGroup.get('email')?.touched"
                    class="error p-0 d-flex">
                    <small>Enter a valid email address</small>
                </div>
            </div>
            <div class="get-otp-container d-flex justify-content-center align-items-center">
                <button [disabled]="disableEmailAndOtpBtn" type="submit" class="get-otp-btn" (click)="onGetOtp()">
                    Get Otp
                </button>
            </div>
        </form>
        <form [formGroup]="otpFormGroup" *ngIf="allowEnterOtp" class="otp-form-container d-flex flex-column gap-2 p-2">
            <div class="d-flex flex-column align-items-center">
                <label>Enter the code we just sent to</label>
                <label style="font-weight: 600;">{{email}}</label>
            </div>
            <div class="otp-inputs d-flex justify-content-center align-items-center gap-2">
                <input type="text" maxlength="1" class="otp-input" name="otp0" (keyup)="onOtpInput($event, 0)"
                    formControlName="otp0">
                <input type="text" maxlength="1" class="otp-input" name="otp1" (keyup)="onOtpInput($event, 1)"
                    formControlName="otp1">
                <input type="text" maxlength="1" class="otp-input" name="otp2" (keyup)="onOtpInput($event, 2)"
                    formControlName="otp2">
                <input type="text" maxlength="1" class="otp-input" name="otp3" (keyup)="onOtpInput($event, 3)"
                    formControlName="otp3">
            </div>
            <div *ngIf="(otpFormGroup.get('otp0')?.invalid && otpFormGroup.get('otp0')?.touched) || 
                        (otpFormGroup.get('otp1')?.invalid && otpFormGroup.get('otp1')?.touched) || 
                        (otpFormGroup.get('otp2')?.invalid && otpFormGroup.get('otp2')?.touched) || 
                        (otpFormGroup.get('otp3')?.invalid && otpFormGroup.get('otp3')?.touched)"
                class="error p-0 d-flex justify-content-center align-items-center">
                <small>Enter all of the OTP digits</small>
            </div>
            <div class="verify-otp-container d-flex justify-content-center align-items-center">
                <button class="verify-otp-btn" (click)="onVerifyOtp()">Verify Otp</button>
            </div>
        </form>
        <div class="btns-container d-flex flex-column gap-0">
            <hr />
            <div class="d-flex flex-column justify-content-center p-2">
                <img class="m-0 p-0" style="height: 20px;width: 20px;" src="assets/arrow-left.svg" alt="Arrow Left">
                <span (click)="onBackToSignin()" class="back-to-signin">Back to signin</span>
            </div>
        </div>
    </div>
</div>