<div class="forgot-password-parent d-flex justify-content-center align-items-center">
    <form class="forgot-password-container">
        <div class="inner-container d-flex flex-column p-2 gap-2">
            <div class="email-container d-flex flex-column gap-2">
                <label>Email</label>
                <input class="p-2" type="email" placeholder="Enter your email address">
            </div>
            <div class="get-otp-container d-flex justify-content-center align-items-center">
                <button class="get-otp-btn">Get Otp</button>
            </div>
        </div>
    </form>
</div>