.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;
}

.main-content {
    margin-left: 250px;
    margin-top: 50px;
    height: calc(100vh - 50px);
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    background-color: var(--primary-background);
    color: var(--primary-text);

    &.collapsed {
        margin-left: 0;
    }
}